/*
Colors used
Primary #292929 (Black)
Secondary 1 #FAFAFA (White)
Secondary 2 #C7A478 (Gold)
*/
* {
  box-sizing: border-box;
}
/* Header base code */


header {
  background-color: #FFFFFF;
  padding: 10px;
  border-bottom: 3px solid #FFFFFF;
  width: 100%;
  text-align:;
  position: fixed;
  -webkit-box-shadow: 0px 7px 4px 0px rgba(50, 50, 50, 0.46);
  -moz-box-shadow: 0px 7px 4px 0px rgba(50, 50, 50, 0.46);
  box-shadow: 0px 7px 4px 0px rgba(50, 50, 50, 0.46);
}

.logo {
  max-width: 120px;
  margin-left: 5px;
  padding-top: 5px;
}


/* END Header base code */



/* Navigation base code */

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 30px;
  font-size: 25px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav>ul>li>a {
  padding: 0 15px;
  text-transform: none;
  font-weight: 600;
  color: #4a4a4a;
}

a {
  color: #C7A478;
  text-decoration: none;
}

nav>ul>li>a:active {
  color: #994C30;
}

nav>ul>li>a:hover {
  color: #CC6540;
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: #C7A478;
}



/* END Navigation base code */

.catchphrase {
font-family: 'Cormorant Garamond', serif;
font-weight: 400;

}

body {
  background-color: #FAFAFA;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18;
  font-weight: 300;
  line-height: 1.6;
  color: #4A4A4A;
}


/* H1,H2,H3.... base code */


h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}


/* END H1,H2,H3.... base code */



img {
  width: 100%;
}

/* MAIN base code */
main {
  padding-top: 130px;
}
/* END MAIN base code */


#hero {
  color: #C7A478;
  background-color: #191919;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;

}




/* BUTTON base code */


.button {
  display: inline-block;
  background-color: #292929;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #C7A478;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: black;
  background-color: #EDEDED
}


/* END BUTTON base code */


/* Layout styling */
.container {
  padding: 0 15px;

}
.container_footer{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 max-width: 145px;


}


.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;

}

#contact h2,p{
  text-align: center;



}
 /* Social Icon Styles */




/* END Social Icon Styles */

/* ANIMATION/ TRANSITION @keyframes */

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* END ANIMATION/ TRANSITION @keyframes */


/* MEDIA QUERIES */

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 35px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 35px;

  }
  nav > ul {
    margin: 1em 0;
  }
  nav>ul>li {
    display: inline-block;
  }

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.navtoggle.responsive li  {
  display: block;
}

  }
  [class*="col-"] {
    width: 50%;
    float: left;
    padding: 15px;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
    float: left;
  }

  .col-lg-5 {
    width: 41.66%;
    float: left;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* END MEDIA QUERIES */
